<h1>Add a new album</h1>
<form action="/albums" method="POST">
  <label>Title: </label>
  <input type="text" name="title">
  <label>Release Year: </label>
  <input type="number" name="release_year">
  <label>Artist ID: </label>
  <input type="number" name="artist_id">

  <input type="submit" value="Submit the form">
</form>